doctype html
html
	head
		title Notes
		link(rel='stylesheet' href='/static/main.css')
	body
		header.header
			h1 ToDo App

			nav.nav
				a(href='/all-tasks') All notes
				a(href='./archive') Archive


		block content